<div class="container">
  <div class="row-fluid">
    <h2>Welcome to HAPPiE ToDo App,</h2>
  </div>

  <!-- <div class="row-fluid">
    <div class="col-md-1.5 pull-right" ng-if="!loggedIn()">
      <a class="user__sign">
        Sign Up
      </a>
    </div>

    <div class="col-md-1 pull-right" ng-if="!loggedIn()">
      <button class="btn btn-success form-control user__sign">
        Sign In
      </button>
    </div>
  </div> -->

  <div class="user__signup--form">
    <span>Register if you are not a memeber</span>
    <form ng-submit="createUser()">
      <input class="form-control" type="text" ng-model="username" placeholder="username">
      <input class="form-control" type="text" ng-model="name" placeholder="Full Name">
      <input class="form-control" type="password" ng-model="password" placeholder="Desired Password">
      <center><button  class="btn btn-default" type="submit" name="button" ng-disabled="!(username && password && name)">Register</button></center>
    </form>
    <div align="center" class="alert alert-success user__signup--alert" role="alert" ng-if="registered">{{ registered }}</div>
    <div align="center" class="alert alert-error user__signup--alert" role="alert" ng-if="notRegistered">{{ notRegistered }}</div>
  </div>

  <div class="user__signin--form">
    <span>LogIn if you are a memeber</span>
    <form ng-submit="userLogin()">
      <input class="form-control" type="text" ng-model="susername" placeholder="username">
      <input class="form-control" type="password" ng-model="spassword" placeholder="Password">
      <center><button  class="btn btn-default" type="submit" name="button" ng-disabled="!(susername && spassword)"
          >LogIn</button></center>
    </form>
    <center><button  class="btn btn-default" type="submit" name="button" ng-if="loggedIn()" ng-click="logout()">LogOut</button></center>

    <div align="center" class="alert alert-success user__signin--alert" role="alert" ng-if="success">{{ success }}</div>
  </div>
</div>
<!--
  <table class="table table-striped">
    <tr>
      <th>UserId</th>
      <th>Name</th>
      <th>Data</th>
    </tr>
    <tr ng-repeat="user in users">
      <td>
        <span class="todos__task">
          {{user._id}}
        </span>
      </td>
      <td>
        <span class="todos__task">
        {{user.name}}
      </span>
      </td>
      <td>
        <span class="todos__task">
        {{user.data[0].task}}
      </span>
      </td>
    </tr>
  </table> -->
